@import url("montserrat-webfont/style.css");

:root {
    --font-extra-large: 4rem;
    --font-large: 1.25rem;
    --font-medium: 1rem;
    --font-small: 0.75rem;

    --color-primary: rgb(21, 18, 38);
    --color-secondary: rgb(251, 251, 251);
    --color-accent: rgb(50, 30, 185);
    --color-accent-light: rgb(151, 39, 237);
    --color--accent-lighter: rgb(226, 188, 255);
    --color-light: rgb(200, 200, 200);
}

/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat Regular', system-ui, sans-serif;
  color: var(--color-secondary);
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    height: 100vh;
    display: flex;
    background: linear-gradient(315deg, var(--color-accent), var(--color-primary) 40%);
}

.image-section {
    position: relative;
    flex: 1 0 40vw;
}

.logo-container {
    padding: 2rem 1rem;
    position: absolute;
    top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-section div p {
    font-size: var(--font-extra-large);
    font-family: 'Montserrat Bold';
    color: white;
}

.logo-image {
    width: min(140px, 80%);
}

.main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.credits {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1rem;
    color: var(--color-secondary);
}

a {
    color: var(--color-secondary);
}

a:visited {
    color: var(--color--accent-lighter);
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-content, button, form p {
    margin-left: 2rem;
}

.top-content {
    font-size: var(--font-large);
    font-family: 'Montserrat Medium';
    margin-bottom: 1rem;
    width: 48ch;
}

.fields {
    background-color: rgba(206, 115, 255, 0.1);
    padding: 2rem;
}

h2, .row {
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    gap: 6rem;
    margin-bottom: 1rem;
}

.row > div {
    display: flex;
    flex-direction: column;
}

.fields {
    margin: 2rem 0 1.5rem 0;
}

button {
    background-color: var(--color-accent-light);
    color: var(--color-secondary);
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;
    border: transparent;
    border-radius: 0.25rem;
}

label {
    font-size: var(--font-small);
}
